.article-container {
  animation: transitionIn 1s;
  background-color: #FFF9E4;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}