.article-container {
  animation: transitionIn 0.75s;
  background-color: aquamarine;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}