.nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  place-content: center;
}

.search-nav {
  margin-right: auto;
}

.search-input,
.post-btn {
  padding: 5px;
}

.post-btn { 
  margin-left: 1rem;
}

.article-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1em;
}

.article-app {
  display: flex;
  justify-content: center;
}

.article-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-item > div:last-child {
  margin-top: auto;
}

.title-url {
  font-size:medium;
}

.title-url > a {
  text-decoration: none;
  color: #252525;
}

.title-url > a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: blue;
}

.source-label {
  margin: 0;
  font-size: small;
}

.date-label {
  margin: 0;
  font-size: small;
}

.description-label {
  font-size: medium;
}

.article-img {
  align-self: center;
  width: 200px;
  height: 125px;
  object-fit: contain;
}

.description-label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.details-favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}