* { font-family: Verdana, Geneva, Tahoma, sans-serif; }

.nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  place-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 28px;
}

#favourite-page-btn {
  margin-left: 1rem;
  text-align: center;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  text-decoration: none;
}

.btn {
  background-color: #C20430;
  color: white;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.btn:active {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25) inset;
  border-color: #000000;
}

.btn:hover {
  background-color: #FFC72A;
  color: black;
}

button:disabled,
button[disabled],
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

#query {
  text-align: right;
}

.search-form {
  display: flex;
}

.search-nav {
  margin-right: auto;
}

.search-input {
  padding: 5px;
}

.post-btn { 
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.article-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1em;
}

.article-app {
  display: flex;
  justify-content: center;
}

.article-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.article-item > div:last-child {
  margin-top: auto;
}

.title-url {
  font-size:medium;
}

.title-url > a {
  text-decoration: none;
  color: #252525;
  font-weight: 400;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-url > a:hover, 
.title-url > a:active {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: bold;
  color: #C20430;
}

.source-label {
  margin: 0;
  font-size: small;
}

.date-label {
  margin: 0;
  font-size: small;
}

.description-label {
  font-size: medium;
}

.article-img {
  align-self: center;
  width: 200px;
  height: 125px;
  object-fit: cover;
}

.description-label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.details-favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-favourite > button {
  padding: 4px 8px 4px 8px;
}

